# Arquivo .gitignore

# Arquivos de ambiente virtual
venv/
env/

# Arquivos de cache e compilados do Python
__pycache__/
*.pyc

# Arquivos de dados do usuário - MUITO IMPORTANTE!
*.json

# Arquivos do sistema operacional (opcional, mas boa prática)
.DS_Store
Thumbs.db

# Ignorar arquivos de lock temporários do Excel/LibreOffice
.~lock.*

# Arquivos de ambiente com segredos
.env
/.streamlit/secrets.toml

# Arquivos de credenciais do Google (se aplicável)
credenciais.json
